.add-button--container {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  .add-button {
    display: flex;
    background: $detail-color;
    padding: 12px 24px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow:  $detail-shadow-color;
    .add-button--plus {
        color: $text-light-color;
        font: $text-big;
    }
  }
}
