.budget-item--container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 72px;
    padding: 12px;
    border-radius: 8px;
    background-color: rgba(11, 0, 39, 0.188);
    margin: 4px 0px;
    .budget-item--icon {
        background-color: $detail-color;
        width: 48px;
        height: 48px;
        border-radius: 12px;
        padding: 4px;
        @media (max-width: 520px) {
            width: 42px;
            height: 42px;
        }
    }
    .budget-items {
        display: inline-flex;
        width: 100%;
        padding: 12px;
        justify-content:space-between ;
        .budget-items--left {
            display: inline-flex;
            margin: auto 0px;
            .budget-title {
                font: $text-normal;
                color: $text-light-color;
            }
        }
        .budget-items--right {
            display: flex;
            flex-direction: column;
            .budget-money {
                font: $text-normal;
                color: $text-light-color;
            }
        }
    }
}
.budget-item:last-child {
    margin: 4px 0px 0px 0px;
}