.expenses-container {
    .expenses-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 24px;
        .expenses-header--title {
            font: $text-big;
            color: white;
        }
    }

}