.expense-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  background-color: rgba(11, 0, 39, 0.188);
  margin: 6px 0px;
  .expense-item--left-items {
    display: flex;
    .expense-item--icon {
      display: inline-flex;
      background-color: $detail-color;
      width: 56px;
      height: 56px;
      border-radius: 12px;
      padding: 6px;
      @media (max-width: 520px) {
        width: 42px;
        height: 42px;
      }
    }
    .expense-text--container {
      .expense-text {
        display: inline-flex;
        padding: 0px 6px;
        .expense-text--title {
          font: $text-small;
          color: $text-light-color;
          padding: 0px 0px 0px 6px;
        }
        .expense-text--data {
          font: $text-small;
          color: rgb(149, 149, 149);
          padding: 0px 6px;
          @media (max-width: 520px) {
            display: none;
          }
        }
      }
      .expense-budget {
        display: flex;
        .expense-budget--text {
          font: $text-small;
          color: rgb(149, 149, 149);
          padding: 0px 12px;
        }
      }
    }
  }
  .expense-item--right-items {
    display: flex;
    flex-direction: column;
    .expense-item--money {
      font: $text-normal;
      color: $text-light-color;
    }
  }
}
