.add-button {
  background: $detail-color;
  padding: 8px 16px;
  border-width: 0px;
  border-radius: 20px;
  cursor: pointer;
  font: $text-small;
  color: $text-light-color;
  box-shadow: $detail-shadow-color;
};