// base
@import "abstract/normalize";
@import "abstract/typography";
@import "abstract/colors";
@import "abstract/base";
@import 'abstract/mixin';

//molecules
@import "../components/molecules/movie-card/movie-card";

//organisms
@import "../components/organisms/navbar/navbar";
@import "../components/organisms/movie-carousel/movie-carousel";

body {
    background-color: rgb(28, 28, 28);
    line-height: 1.5;
    h1,h2,h3,h4,h5,h6,a,p {
        color: $almost-white;
    }
}