* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Noto Sans JP", sans-serif;
}
* body {
  margin: 0;
}
* body ol, * body ul {
  list-style: none;
}
* body h1, * body h2, * body h3, * body h4, * body h5, * body h6 {
  font-size: 100%;
  font-weight: normal;
  color: rgb(143, 143, 143);
}
* body address, * body caption, * body cite, * body code, * body dfn, * body em, * body strong, * body th, * body var {
  font-style: normal;
  font-weight: normal;
}
* body img, * body picture, * body svg, * body video {
  display: block;
  max-width: 100%;
}
* body a {
  text-decoration: none;
}

@font-face {
  font-family: netflix-font;
  src: url(../../font/BebasNeue.otf);
}
.play-btn {
  display: flex;
  background-color: rgb(157, 0, 0);
  border: none;
  padding: 4px 6px;
  border-radius: 16px;
  cursor: pointer;
}
.play-btn .play-btn--text {
  font: bold calc(0.8em + 0.2vw) "Noto Sans JP", sans-serif;
  color: white;
  padding-right: 8px;
  margin: auto;
}

.like-btn {
  display: flex;
  background-color: transparent;
  border: none;
  padding: 4px 6px;
  cursor: pointer;
}

.movie-card {
  width: 180px;
  height: 240px;
  background-color: rgba(24, 24, 24, 0.772);
  position: relative;
}
.movie-card:hover .movie-card__on-hover {
  opacity: 1;
}
.movie-card .movie-card__thumbnail {
  width: 180px;
  height: 240px;
  overflow: hidden;
}
.movie-card .movie-card__thumbnail .movie-card__thumbnail--img {
  transition: transform 0.3s ease-in-out;
}
.movie-card .movie-card__thumbnail .movie-card__thumbnail--img:hover {
  transform: scale(1.1);
}
.movie-card .movie-card__on-hover {
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.535);
  transition: opacity 0.3s;
}
.movie-card .movie-card__on-hover .movie-card__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2px;
}
.movie-card .movie-card__on-hover .movie-card__text .movie-card__text--title {
  text-align: center;
  font: bold calc(0.8em + 0.2vw) "Noto Sans JP", sans-serif;
  color: rgb(224, 224, 224);
}
.movie-card .movie-card__on-hover .movie-card__text .movie-card__text--year {
  text-align: center;
  font: bold calc(0.8em + 0.2vw) "Noto Sans JP", sans-serif;
  color: rgb(224, 224, 224);
}
.movie-card .movie-card__on-hover .movie-card__icons {
  display: flex;
  justify-content: space-between;
}

.hero-slide {
  display: flex;
  width: 100%;
  height: 600px;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.hero-slide .hero-slide--background {
  width: 100%;
  height: 600px;
  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.51);
  background: linear-gradient(90deg, rgb(24, 24, 24) 0%, rgba(24, 24, 24, 0.5466387238) 50%, rgba(24, 24, 24, 0) 100%);
}
@media (max-width: 760px) {
  .hero-slide .hero-slide--background {
    backdrop-filter: none;
    background: rgba(0, 0, 0, 0.59);
  }
}
.hero-slide .hero-slide--background .hero-slide__text {
  width: clamp(300px, 50%, 600px);
  padding: 56px;
  display: flex;
  flex-direction: column;
  z-index: 10;
  position: relative;
}
@media (max-width: 760px) {
  .hero-slide .hero-slide--background .hero-slide__text {
    margin: auto;
    padding: 24px;
  }
}
.hero-slide .hero-slide--background .hero-slide__text .hero-slide__text--genre {
  font: calc(0.8em + 0.2vw) "Noto Sans JP", sans-serif;
  color: rgb(176, 176, 176);
}
.hero-slide .hero-slide--background .hero-slide__text .hero-slide__text--title {
  font: bold calc(2.4em + 0.9vw) "Noto Sans JP", sans-serif;
  color: rgb(224, 224, 224);
  margin-top: 12px;
}
.hero-slide .hero-slide--background .hero-slide__text .hero-slide__text--description {
  font: calc(0.9em + 0.4vw) "Noto Sans JP", sans-serif;
  color: rgb(176, 176, 176);
  margin-top: 16px;
}
.hero-slide .hero-slide--background .hero-slide__text .hero-slide--icons {
  margin-top: 32px;
  display: flex;
}
.hero-slide .hero-slide__thumbnail {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  float: right;
}
@media (max-width: 760px) {
  .hero-slide .hero-slide__thumbnail {
    background: rgba(0, 0, 0, 0.599);
  }
}
.hero-slide .hero-slide__thumbnail .hero-slide__thumbnail--img {
  width: 400px;
  height: 600px;
  z-index: -1;
}
@media (max-width: 760px) {
  .hero-slide .hero-slide__thumbnail .hero-slide__thumbnail--img {
    display: none;
  }
}

.navbar {
  background-color: black;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  padding: 12px;
}
.navbar .navbar--wrapper {
  padding: 6px 0px;
  max-width: 1700px;
  display: flex;
  margin: auto;
  justify-content: space-between;
}
.navbar .navbar--wrapper .navbar__logo .navbar__logo--link {
  color: rgb(157, 0, 0);
  font: 56px "netflix-font";
}
.navbar .navbar--wrapper .navbar__nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navbar .navbar--wrapper .navbar__nav .navbar__nav--ul {
  display: flex;
  flex-direction: row;
}
.navbar .navbar--wrapper .navbar__nav .navbar__nav--ul .navbar__nav--li {
  font: calc(0.9em + 0.4vw) "Noto Sans JP", sans-serif;
  padding: 0px 16px;
}

.movie-carousel {
  margin: 36px 0px;
  padding: 12px;
}
.movie-carousel .movie-carousel--title--wrapper {
  padding: 6px 0px;
  max-width: 1700px;
  display: flex;
  margin: auto;
}
.movie-carousel .movie-carousel--title--wrapper .movie-carousel--title {
  font: calc(1em + 0.6vw) "Noto Sans JP", sans-serif;
  color: rgb(224, 224, 224);
}
.movie-carousel .movie-carousel--wrapper {
  padding: 6px 0px;
  max-width: 1700px;
  display: flex;
  margin: auto;
  overflow: hidden;
}

.hero-carousel {
  width: 100%;
  height: clamp(200px, 40%, 500px);
  padding-top: 91px;
}

body {
  background-color: rgb(24, 24, 24);
  line-height: 1.5;
}
body h1, body h2, body h3, body h4, body h5, body h6, body a, body p {
  color: rgb(224, 224, 224);
}