.save-button {
  font: $text-small;
  color: $text-light-color;
  padding: 6px 8px;
  margin-top: 8px;
  width: 120px;
  background-color: $detail-color;
  border-width: 1px;
  border-color: $detail-color;
}
